:root {
  --Dark-grey: hsl(234, 12%, 34%);
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Grey: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--Dark-grey);
  font-weight: 400;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.main-container {
  width: 100%;
  min-width: 375px;
  padding: 1rem 2.5rem;
}
.intro-heading-light {
 color: var(--grey);
 font-weight: 200;
 
}
.intro-heading-bold{
  display: block;
  font-weight: 600;
}
.intro-section, .card-section {
 display: flex;
 flex-direction: column;
 text-align: center;
 gap: 1rem;
 margin: 1rem 0rem;
}
.card-section{
  text-align: start;
 
}
.card{
 border: 1px solid gray;
 padding: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
